
body {
	font-family: 'Tajawal', sans-serif;
	padding: 0 2%;
	margin: 0;
}
/* ****************** header css starts ******************* */

.site-wrapper .main-overlay {
    opacity: 0;
    visibility: hidden;
    filter: blur(2px);
    background: #fff;
    position: fixed;
    height: 100vh;
    width: 100%;
    z-index: 5;
    transition: all 0.3s ease-in-out;
}

.site-wrapper .main-overlay.active {
    opacity: 0.6;
    visibility: visible;
}

.header-default {
    padding: 40px 0;
    position: relative;
    width: 100%;
}

.header-default .navbar-nav {
    margin-left: 50px;
}

.header-default.clone {
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    border-bottom: 1px solid #ebebeb;
    right: 0;
    padding: 25px 0;
    transform: translateY(-100%);
    transition: 0.2s transform cubic-bezier(0.3, 0.73, 0.3, 0.7);
    z-index: 4;
}

body.down .header-default.clone {
    transform: translateY(0);
}

.navbar {
    padding: 0;
}

.navbar-nav {
    font-family: 'Tajawal', sans-serif;
    font-size: 14px;
}

.navbar-nav .nav-link {
    padding: 0.439rem 1rem;
    color: #23374d;
}

.navbar-nav .nav-link:hover {
    color: #1089ff;
}

.navbar-nav li.active .nav-link {
    color: #fff;
    background: #23374d;
    border-radius: 25px;
    background-color: #1089ff;
    background-image: #1089ff;
}

.navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 0;
    width: 100px;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    z-index: 1000;
    display: none;
    min-width: 10rem;
    padding: 0;
    margin: 0;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 0;
    border-radius: 0.25rem;
    box-shadow: 0 8px 20px rgba(32, 54, 86, 0.2);
}

.dropdown-menu::after {
    content: "";
    display: block;
    height: 0;
    width: 0;
    position: absolute;
    top: -10px;
    left: 25%;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 10px solid #fff;
}

.dropdown-menu li::after {
    content: "";
    background: #ebebeb;
    background: linear-gradient(to right, #ebebeb 0%, transparent 100%);
    display: block;
    height: 1px;
    width: 100%;
}

.dropdown-menu li:last-child::after {
    content: "";
    display: none;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.6rem 1.5rem;
    clear: both;
    font-weight: 400;
    font-size: 13px;
    color: #79889e;
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.dropdown-item:hover {
    margin-left: 5px;
    transition: all 0.4s ease-in-out;
}

.dropdown-item:focus, .dropdown-item:hover {
    color: #23374d;
    background-color: transparent;
}

.dropdown-divider {
    height: 0;
    margin: 0.1rem 0;
    overflow: hidden;
    border-top: 1px solid #ddd;
}

.dropdown-toggle::after {
    display: inline-block;
    margin-left: 5px;
    vertical-align: middle;
    font-size: 8px;
    border-top: transparent;
    border-right: transparent;
    border-bottom: 0;
    border-left: transparent;
    content: "";
    font-family: "simple-line-icons";
}

.burger-icon::before, .burger-icon::after {
    content: "";
    background: #fff;
    display: block;
    margin: auto;
    height: 1px;
    width: 15px;
}

.burger-icon::before {
    margin-bottom: 6px;
}

.burger-icon::after {
    margin-top: 6px;
}

.header-right .social-icons {
    display: inline-block;
}

.header-right .header-buttons {
    display: inline-block;
    margin-left: 50px;
}

.header-right .header-buttons button {
    margin-left: 10px;
}

.header-right .header-buttons button:first-child {
    margin-left: 0;
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1.3rem;
        padding-left: 1.3rem;
    }
}

@media (min-width: 1200px) {
    .container-xl {
        max-width: 1140px;
    }
}

@media (min-width: 1400px) {
    .container-xl {
        max-width: 1140px;
    }
}

@media only screen and (max-width: 1200px) {
    .header-right .social-icons {
        display: none;
    }
}

@media only screen and (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: none;
        animation: growOut 300ms ease-in-out;
        transform-origin: top center;
    }
    @keyframes growOut {
        0% {
            transform: scale(0);
        }
        80% {
            transform: scale(1.1);
        }
        100% {
            transform: scale(1);
        }
    }
    .navbar .nav-item:hover .dropdown-menu {
        display: block;
    }
    .navbar .nav-item .dropdown-menu {
        margin-top: 0;
    }
}
button {
    transition: all 0.3s ease-in-out;
}

button:focus {
    outline: none;
    box-shadow: none !important;
}

.icon-button {
    color: #fff;
    border: 0;
    border-radius: 50%;
    background-color: #1089ff;
    background-image: #1089ff;
    background-size: auto 200%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 37px;
    line-height: 39px;
    text-align: center;
    vertical-align: middle;
    width: 37px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
    transition: all 0.2s ease-in-out;
    outline: none;
}
.iconButton {
    color: #fff;
    border: 0;
    border-radius: 50%;
    background-color: #fff;
    background-size: auto 200%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 37px;
    line-height: 39px;
    text-align: center;
    vertical-align: middle;
    width: 37px;
    box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.15);
    transition: all 0.2s ease-in-out;
    outline: none;
}
.icon-button:hover {
    background-position: bottom center;
}
.iconButton:hover {
    background: #1089ff;
    background-position: bottom center;
}
.social-icons a {
    font-size: 16px;
    color: #1089ff;
}

.social-icons a:hover {
    color: #23374d;
}

.social-icons li:not(:last-child) {
    margin-right: 1rem;
}

nav {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	background-color: white;
	position: sticky;
	top: 0;
}
nav .profile {
	display: flex;
	align-items: center;
}
nav .profile img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
}
nav .profile h1 {
	margin-left: 10px;
	font-size: 15px;
}
nav ul {
	display: flex;
	list-style-type: none;
}
nav ul li {
	margin-left: 20px;
	cursor: pointer;
	border-bottom: 1px solid #fff;
}
nav ul li:hover {
	border-bottom-color: #000;
}

.page-content {
	margin: 4%;
}
.page-content header {
	margin-top: 5%;
	max-width: 80%;
}
.page-content header h1 {
	margin: 0;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-size: 6vw;
}
.page-content header p {
	line-height: 30px;
	color: #818181;
}
.page-content header button {
	background-color: inherit;
	border: none;
	outline: none;
	padding: 0;
	font-size: 15px;
	font-weight: bold;
	padding-bottom: 5px;
	border-bottom: 1px solid #ccc;
	cursor: pointer;
}
.page-content header button:hover {
	color: #ccc;
	border-bottom-color: #000;
}
.page-content .presentation-image {
	margin-top: 5%;
}
.page-content .presentation-image img {
	max-width: 100%;
	height: auto;
}

.page-content .projects-section {
	margin-top: 6%;
}
.page-content .projects-section h1 {
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	font-size: 3vw;
}
.page-content .projects-section .projects {
	display: flex;
	flex-wrap: wrap;
}
.page-content .projects-section .project {
	margin-right: 20px;
	max-width: 195px;
}
.page-content .projects-section .project h4 {
	margin: 0;
}
.page-content .projects-section .project .description {
	font-size: 10px;
}
.page-content .projects-section .project .dates {
	font-size: 13px;
	color: rgb(145, 145, 145);
}

footer {
	margin-top: 5%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 10px;
	background-color: #000;
	color: white;
}
footer .colonne p {
	font-size: 12px;
	color: #ccc;
	cursor: pointer;
}
footer .colonne p:hover {
	color: #fff;
}

@media screen and (max-width: 700px) {
	nav {
		justify-content: center;
	}
	nav ul {
		display: none;
	}

	.page-content header {
		margin-top: 10%;
		max-width: 100%;
	}
	.page-content .projects-section {
		margin-top: 15%;
	}
	.page-content .projects-section h1 {
		font-size: 1.5em;
	}
	.page-content .projects-section .project {
		margin-right: 0;
		margin-bottom: 20px;
		max-width: 100%;
	}
	.page-content .projects-section .project .description {
		font-size: 13px;
	}

	footer {
		justify-content: flex-start;
	}
	footer .column {
		width: 80%;
	}
}
